/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #f4f4f4;
}

.dark-mode body {
  background-color: #333;
  color: #f4f4f4;
}

.dark-mode nav {
  background-color: #222;
}

.dark-mode #works {
  background-color: #222;
}

.dark-mode #about {
  background-color: #333;
}

.dark-mode #contact {
  background-color: #222;
}

.dark-mode footer {
  background-color: #222;
}

.dark-mode .cta-button {
  background-color: #00bfae;
}

.dark-mode .cta-button:hover {
  background-color: #009c8c;
}

.dark-mode .nav-links  li a{
  color: #fff;
}


/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav .logo {
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

nav .nav-links {
  display: flex;
  list-style: none;
  position: relative;
  margin-right: 0px;
}

nav .nav-links li {
  margin-left: 50px;
}

nav .nav-links a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding: 10px;
  transition: color 0.3s;
}


nav .nav-links a:hover {
  color: #00bfae;
}

#dark-mode-toggle {
  font-size: 20px;
  padding: 5px 10px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

.dark-mode .bar {
  background-color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 200px;
    border: 2px solid #333;
    border-radius: 10px;
    
  }

  .dark-mode nav .nav-links {
    background-color: #333;
    border: 2px solid white;
    border-radius: 10px;
    
  }

  nav .nav-links.active {
    display: flex;
  }

  nav .nav-links li {
    margin: 10px 0;
    border-radius: 12px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}

/* Section Home */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 0 20px;
  height: 100vh;
  background: linear-gradient(303deg, #60ce80, #154360, #52616b);
  background-size: 600% 600%;

  -webkit-animation: Gradient-Background 21s ease infinite;
  -moz-animation: Gradient-Background 21s ease infinite;
  animation: Gradient-Background 21s ease infinite;
}

@-webkit-keyframes Gradient-Background {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@-moz-keyframes Gradient-Background {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@keyframes Gradient-Background {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}

.dark-mode header {
  background: linear-gradient(-45deg,#154360,#3a3a3a,#154360,#277baf);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}



header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header h1 span {
  color: #93bfe5;
}

#dynamic-text {
  font-size: 20px;
  margin-bottom: 25px;
  animation: 4s infinite;
  font-family: "Roboto Mono", sans-serif;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.profile-photo img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 20px 0;
}

.social-links {
  position: relative;
  display:inline-flex;
  top: 70px;
  gap: 35px;
  transition: transform 0.5s ease-in-out;
}

.social-links a img {
  width: 40px;
  height: 40px;
}

.social-links a img:hover {
  transform: scale(1.1) translateY(-2px);
}




/* Section Works */
#works {
  padding: 80px 20px;
  background-color: #f4f4f4;
  text-align: center;
  
}

#works h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#works h2 u {
  text-decoration: underline 5px #00bfae;
}


/* CARROUSEL  */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
} 



.carousel-item {
  position: relative;
  flex: 0 0 33.33%; /* 1/3 de la largeur */
  padding: 5px;
  box-sizing: border-box;
  height: auto;
}


.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100%); /* Pas besoin de multiplier par 3 ici */
}


.carousel-items::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.carousel-item img {
  width: 100%;
  border-radius: 8px;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  background-color: #00bfae;
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 35%;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}


.dark-mode .carousel-next {
  background-color: #16537e;
}

.dark-mode .carousel-prev {
  background-color: #16537e;
} 





/* SECTION SKILLS / /* SECTION TOOLS */

.skills-section {
  padding: 50px 0;
  text-align: center;
  background-color: #305a77;
}

.skills-container, .tools-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.skill, .tool {
  width: 120px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill img, .tool img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.skill p, .tool p {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

.skill:hover, .tool:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

@media (max-width: 768px) {
  .skill, .tool {
    width: 80px;
  }

}

.skill img {
  height: 55px;
  width: 55px;
}

.tool img {
  height: 55px;
  width: 55px;
}

.dark-mode .skills-section {
  background-color: #333;
  color: white;
}

.dark-mode p {
  color: white;
}

.space{
padding-top: 140px;
padding-bottom: 80px;
color: #f4f4f4;
text-decoration: underline 4px  #00bfae;
}

.space2 {
padding-bottom: 80px;
color: #f4f4f4;
text-decoration: underline 4px  #00bfae;
}



/* Section About Me */
#about {
  padding: 80px 20px;
  background-color: #ffffff;
  text-align: center;
}



#about .about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#about h2 u {
  text-decoration: underline 5px #00bfae;
}

.about-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Section Contact */
#contact {
  padding: 80px 20px;
  background-color: #f4f4f4;
  text-align: center;
  
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#contact h2 u {
  text-decoration: underline 5px #00bfae;
}

.contact-methods {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-methods a {
  background-color: #16537e;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.contact-methods a:hover {
  background-color: #00bfae;
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #154360;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: x-large;
}

#back-to-top:hover {
  background-color: #00bfae;
}

/* Responsive NAV */
@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 200px;
    padding: 20px;
  }

  nav .nav-links.active {
    display: flex;
  }

  nav .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}


.dott {
  color: #16537e;
  font-size: 40px;
}

.dark-mode .dott {
  color: #00bfae;
}

mark {
  background-color: #41a3e97c;
  border-radius: 2px;
}

.dark-mode mark {
  color: white;
}


/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
}

.modal-content {
  position: relative;
  background-color: #f4f4f4;
  margin: 10% auto; /* Center it */
  padding: 20px;
  border-radius: 8px;
  width: 60%; /* Could be more or less depending on screen size */
  text-align: center;
  color: #333;

}

.dark-mode .modal-content {
  background-color: #333;
}

.modal img {
  max-width: 70%;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%; /* Adapt for smaller screens */
  }
}
